* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #EFEFEF;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

card-list {
  display: block;
  margin-top: 32px;
  width: 100%;
  padding: 16px;
}